<%- include('./partials/header.ejs')%>
<h1></h1>
<header>
  <link type="text/css" rel='stylesheet' href='/css/style.css' />
</header>
<ul>
    <% for(var i =0;i< scores.length; i++){
        let scoreNumber = i + 1
        %>
        <li>
    
            <a href="/scores/<%= scores[i].id %>"><%= scores[i].name%> : <%= scores[i].score %></a></li>

          <form action="/scores/<%=scores[i].id%>?_method=DELETE" method="POST">
            <div class="delete-button">
            <input type="submit" value="DELETE" />  
            </div>
          </form>
         </li>


<%}%>
    </ul>
<%- include('./partials/footer.ejs')%>